{
	"appId":"ONEXFE8C473271454",
	"appKey":"ONEXFE8C473271454_ANDROID",
	"base64Code":"",
	"packageName":"com.alrubaye.alaram",
	"rootPath":"mpaas/android/ONEXFE8C473271454-test",
	"workspaceId":"test",
	"syncport":"443",
	"syncserver":"mpaas-mss.aliyuncs.com",
	"logGW":"https://mpaas-mas-loggw.aliyuncs.com",
	"pushPort":"443",
	"pushGW":"mpaas-mps.aliyuncs.com",
	"mpaasapi":"https://cn-hangzhou-component-gw.cloud.alipay.com/mgw.htm",
	"rpcGW":"https://mpaas-mgs.aliyuncs.com/mgw.htm"
}